h1.text {
 font-size: medium;
}

p.color {
 color: gray;
}

span.some {
 color: grey;
}

span.space {
 color: grey;
 font-size: medium;
 max-width: 100px;
 font-weight: normal;
}

span.spaces {
 color: grey;
 font-size: medium;
 max-width: 100px;
 font-weight: normal;
}
