.divider{
    position: relative;
    border-bottom: 1px solid rgba(0,0,0,.15);
    max-width: 1032px;
    margin: 24px auto;
    display: block;
}

.botSpace{
    position: relative;
    margin: 24px auto;
    display: block;
}

.space{
    margin-right: 12px;
}

.marginTop12{
    margin-top: 12px!important;
}