@media (min-width: 600px){
    .jss651 {
    display: block;
    }
}
.jss651 {
    top: 70px;
    order: 2;
    width: 175px;
    height: calc(100vh - 70px);
    display: none;
    padding: 16px 16px 16px 0px;
    position: sticky;
    margin-top: 70px;
    overflow-y: auto;
    flex-shrink: 0;
}